.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
}

.headerTop {
    width: 100%;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: #e7ecef;
}

@media (max-width: 768px) {
    .headerTop {
        display: none;
    }
}

.listTop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    li {
        list-style-type: none;
    }
}

.linkTop {
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: #447ac6;
    }
}

.lanRu {
    padding: 4px;
    border: none;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    background-color: #002345;
    color: #ffffff;

    &:hover {
        background-color: #447ac6;
    }
}

.lanEn {
    padding: 4px;
    border: none;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    background-color: #ffc72c;
    color: #002345;

    &:hover {
        background-color: #c69214;
        color: #ffffff;
    }
}

.headerBottom {
    width: 100%;
    top: 40px;
    left: 0;
    background-color: white;

    .headerBottomWrapper {
        max-width: 1440px;
        margin: 0 auto;
        padding: 24px 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .headerBottom {
        display: none;
    }
}

.headerMobile {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 32px 24px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 768px) {
    .headerMobile {
        display: flex;
    }
}

.listBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 24px;

    li {
        list-style-type: none;
    }
}

.wrapperBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    border-bottom: 2px solid #ffbb29;
    ul {
        padding-inline-start: 0px;
    }
}

.linkBottom {
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: #447ac6;
    }
}

// popUpMenu

.containerPopUp {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    ul {
        padding-inline-start: 0;
    }

    li {
        list-style-type: none;
    }
    a {
        font-size: 18px;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: #447ac6;
        }
    }
}

.arrowWrapper {
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 32px 0 0 24px;
}

.listTopPopUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-size: 18px;
}

.wrapperTopPopUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 40px;
}

.listBottomPopUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    a {
        font-weight: 700;
    }
}

.headerBottomPopUp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7ecef;
    padding: 40px 0;
    gap: 32px;
}
