.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

.headerTop {
    width: 100%;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: #e7ecef;
}

.heroButton {
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background-color: #c69214;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    &:hover {
        background: #ffbb29;
        color: #ffffff;
    }
}

.navLink {
    color: #5d6267;
    font-style: normal;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: #447ac6;
    }
}

.lanBtnWraper {
    display: flex;
    align-items: center;
}

.lanRu {
    padding: 4px;
    border: none;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    background-color: #002345;
    color: #ffffff;

    &:hover {
        background-color: #447ac6;
    }
}
.lanEn {
    padding: 4px;
    border: none;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    background-color: #ffc72c;
    color: #002345;
    &:hover {
        background-color: #c69214;
        color: #ffffff;
    }
}

.headerBottom {
    width: 100%;
    top: 40px;
    left: 0;
    background-color: #ffffff;
    .headerBottomWrapper {
        max-width: 1440px;
        margin: 0 auto;
        padding: 24px 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

// popUp menu на кнопки
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownButton {
    color: #5d6267;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    &:hover {
        text-decoration: none;
        color: #447ac6;
    }
}

.dropdownMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 8px;
}

.dropdownMenu li {
    list-style: none;
    margin: 4px 0;
}

.dropdownMenu li a {
    color: #333;
    text-decoration: none;
    padding: 4px 8px;
    display: block;
    font-size: 14px;
}

.dropdownMenu li a:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
}

// popUp responcive
.headerMobile {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 24px 16px;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.listBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 24px;
    li {
        list-style-type: none;
    }
}

.wrapperBottom {
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    border-bottom: 2px solid #ffbb29;
    ul {
        padding-inline-start: 0px;
    }
}

// popUpMenu
.containerPopUp {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    ul {
        padding-inline-start: 0;
    }
    li {
        list-style-type: none;
    }
    a {
        font-size: 18px;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: #447ac6;
        }
    }
}

.arrowWrapper {
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 32px 0 0 24px;
}

.listTopPopUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-size: 18px;
}

.wrapperTopPopUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 40px;
}

.listBottomPopUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    a {
        font-weight: 700;
    }
}

.headerBottomPopUp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7ecef;
    padding: 40px 0;
    gap: 32px;
}

@media (max-width: 768px) {
    .headerTop {
        display: none;
    }
    .headerBottom {
        display: none;
    }
    .headerMobile {
        display: flex;
    }
}
