.newsPage {
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
}

.newsPageContainer {
    width: 1440px;
    padding: 0px 164px 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titleNewsWrapper {
    border-bottom: 3px solid #e7ecef;
}

.newsTitle {
    line-height: 1.6;
    font-weight: bold;
    letter-spacing: 1.2px;
    padding-bottom: 24px;
}

.newsDate {
    text-align: start;
    padding-bottom: 24px;
    color: #7f858a;
}

.newsAnnotationList {
    font-size: 24px;
    line-height: 1.6;
    font-weight: bold;
    padding: 24px;
    // list-style-type: none;
}

.newsInformation {
    text-align: justify;
}

.newsImg {
    max-width: 720px;
    max-height: 500px;
    margin: 24px auto 0;
}
.newsInscript {
    margin: 0 auto;
    padding-bottom: 24px;
    font-size: 16px;
    color: #5d6267;
}
.line_grey {
    width: 56px;
    margin: 16px 0;
    border-bottom: 4px solid #7e8185;
}
.line_gold {
    width: 56px;
    margin: 16px 0;
    border-bottom: 4px solid #c69214;
}

// .newsFragment {
//     padding: 24px 100px;
//     font-size: 32px;
//     color: #5d6267;
//     text-align: justify;
// }

// @media (max-width: 960px) {
//     .imgWrapper {
//         grid-template-columns: repeat(1, 1fr);
//     }
// }
