.newsPage {
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.newsPageContainer {
    max-width: 1440px;
    padding: 0px 164px 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titleNewsWrapper {
    border-bottom: 3px solid #e7ecef;
}

.newsTitle {
    font-weight: bold;
    padding-bottom: 24px;
}

.newsDate {
    text-align: start;
    padding-bottom: 24px;
    color: #7f858a;
}

.newsAnnotationList {
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
}
.newsInformation {
    text-align: justify;
}

.inlineList {
    padding: 24px 0 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    margin: 0 auto;
}
.newsImg {
    max-width: 640px;
}
.newsInscript {
    padding-bottom: 24px;
    font-size: 16px;
    color: #5d6267;
}
.line_grey {
    width: 56px;
    margin: 16px 0;
    border-bottom: 4px solid #7e8185;
}
.line_gold {
    width: 56px;
    margin: 16px 0;
    border-bottom: 4px solid #c69214;
}

@media (max-width: 1224px) {
    .newsPageContainer {
        padding: 0px 40px 8px;
    }
}

@media (max-width: 960px) {
    .newsPageContainer {
        padding: 0px 44px 8px;
    }
    .newsImg {
        max-width: 440px;
    }
}

@media (max-width: 768px) {
    .newsPageContainer {
        padding: 0px 24px 8px;
    }
    .newsDate {
        font-size: 16px;
    }
    .newsTitle {
        font-size: 16px;
    }
    .newsAnnotationList {
        padding: 8px;
        font-size: 16px;
    }
    .newsInformation {
        font-size: 16px;
    }
    .inlineList {
        padding: 16px 0 0pxpx;
    }
    .newsImg {
        max-width: 440px;
    }
}
@media (max-width: 520px) {
    .newsPageContainer {
        padding: 0px 16px;
    }
    .newsImg {
        max-width: 320px;
    }
}
@media (max-width: 424px) {
    .newsImg {
        max-width: 240px;
    }
}
