.newsPage {
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.newsPageContainer {
    padding: 0px 72px 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titleNewsWrapper {
    padding-top: 24px;
    border-bottom: 3px solid #e7ecef;
}

.newsTitle {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 24px;
}

.newsDate {
    font-size: 12px;
    text-align: start;
    padding-bottom: 24px;
    color: #7f858a;
}

.newsAnnotationList {
    font-size: 20px;
    font-weight: bold;
    padding: 16px 0;
}

.bulletinSlider {
    position: relative;
    margin: 0 auto;
    padding: 24px 24px 0;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
}

.leftArrow {
    font-size: 32px;
    cursor: pointer;
    padding: 24px;
    border-radius: 8px;
    border: none;
    position: absolute;
    top: 40%;
    z-index: 1;
    left: -8%;
    background: #7e8185;
    color: #fff;
}

.rightArrow {
    font-size: 32px;
    cursor: pointer;
    padding: 24px;
    border-radius: 8px;
    border: none;
    position: absolute;
    top: 40%;
    z-index: 1;
    right: -8%;
    background: #7e8185;
    color: #fff;
}

.newsInformation {
    text-align: justify;
    padding: 24px 0 32px;
}

.newsImg {
    max-width: 800px;
    height: 640px;
    margin: 0 auto;
}

@media (max-width: 1320px) {
    .newsPage {
        padding-top: 24px;
    }
}

@media (max-width: 960px) {
    .newsImg {
        max-width: 440px;
    }
    .leftArrow {
        font-size: 24px;
        top: 36%;
        left: -4%;
    }
    .imgWrapper {
        img {
            max-width: 440px;
        }
    }
    .rightArrow {
        font-size: 24px;
        top: 36%;
        right: -4%;
    }
}

@media (max-width: 768px) {
    .newsDate {
        font-size: 16px;
    }
    .newsTitle {
        font-size: 16px;
    }
    .newsAnnotationList {
        padding: 8px;
        font-size: 16px;
    }
    .newsInformation {
        font-size: 16px;
    }
    .inlineList {
        padding: 16px 0 0pxpx;
    }

    .leftArrow {
        padding: 16px;
    }
    .rightArrow {
        padding: 16px;
    }

    .newsImg {
        max-width: 440px;
    }
    .backToNewsBtn {
        font-size: 12px;
    }
}
@media (max-width: 520px) {
    .newsPageContainer {
        padding: 0px 48px 8px;
    }
    .newsImg {
        max-width: 320px;
    }
}
@media (max-width: 424px) {
    .newsImg {
        max-width: 240px;
    }
}
