body {
	margin: 0;
}

.headerTop {
	background-color: #E7ECEF;
	width: auto;
	height: 49px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headerBottom {
	width: auto;
	height: 87px;
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
