.schedulle {
    width: 100%;
    padding: 32px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #6c6d70;
    font-size: 24px;
    h2 {
        font-size: 24px;
        text-transform: uppercase;
        padding-bottom: 16px;
    }
    span {
        font-size: 24px;
    }
}

.titleSchedulle {
    max-width: 1440px;
    padding: 16px 24px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .titleAnnotation {
        padding: 8px 40px;
    }
}

// Table title
.wrapperSchdulle {
    max-width: 1440px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #d9d9d9;
    border-radius: 8px;
    h2 {
        font-size: 24px;
        padding-bottom: 16px;
    }
    span {
        padding: 8px 0;
    }
    p {
        padding-bottom: 16px;
    }
}

.titleSchedulleWrapper {
    padding: 16px 0 0 0;
}

// Table
.infoSchedulle {
    p {
        font-size: 24px;
        color: #ffffff;
    }
}

.infoSchedulle {
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 60%;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    color: #ffffff;
    .div1 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #c69214;
        border-radius: 8px;
        padding: 16px;
    }
    .div2 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffc72c;
        border-radius: 8px;
        padding: 24px;
    }
    .div3 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #5d6267;
        border-radius: 8px;
        padding: 32px;
    }
    .div4 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #919aa3;
        border-radius: 8px;
        padding: 24px;
    }
}

// Responcive
@media (max-width: 768px) {
    .schedulle {
        padding: 24px;
        h2 {
            font-size: 20px;
        }
        span {
            font-size: 20px;
        }
        p {
            font-size: 20px;
        }
    }

    .infoSchedulle {
        grid-template-columns: 30% 50%;
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        p {
            font-size: 16px;
        }
    }
}

@media (max-width: 425px) {
    .schedulle {
        h2 {
            font-size: 16px;
        }
        span {
            font-size: 16px;
        }
    }

    .infoSchedulle {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
