.course {
    max-width: 1440px;
    padding: 0 24px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

.heroCourse {
    padding: 144px 96px 128px;
    width: 100%;
    background-image: url("../../../../assets/courses/corpdir_hero_opacity.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 64%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 56px;
    h1 {
        font-size: 48px;
        font-weight: 700;
        color: #ffbb29;
    }
    p {
        font-size: 24px;
        font-weight: 600;
        color: #fff;
    }
}
.heroBtnWrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
    .heroBtnApply,
    .heroBtnInfo {
        color: #000;
        font-weight: 600;
        text-decoration: none;
        padding: 24px 48px;
        border-radius: 72px;
        font-size: 16px;
    }
}
.heroBtnApply {
    background-color: #ffbb29;
}
.heroBtnInfo {
    background-color: #fff;
}

// CorpdirStudy
.courseStudy {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.courseTitle {
    padding: 32px 0 56px;
    text-align: center;
}

// list
.studyList {
    max-width: 100%;
    position: relative;
    z-index: 3;
}
.listItem {
    padding: 0 20px 48px 48px;
    display: flex;
    justify-content: flex-start;
    border-left: 0.9px solid #5d6267;
    z-index: 1;
}
.listItem:last-child {
    padding: 0 20px 32px 48px;
    border-left: transparent;
}
.numbers {
    padding: 8px 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffbb29;
    color: #fff;
    font-weight: 700;
    position: absolute;
    left: 20px;
    z-index: 2;
}
.itemContent {
    max-width: 100%;
}

// responcive
@media (max-width: 968px) {
    .heroBtnApply,
    .heroBtnInfo {
        padding: 16px 24px;
        font-size: 12px;
    }
}
@media (max-width: 868px) {
    .courseTitle {
        font-size: 20px;
        text-align: center;
    }
    .heroCourse {
        padding: 96px 32px 64px;
        gap: 48px;
        h1 {
            font-size: 32px;
        }
        p {
            font-size: 16px;
        }
    }
}
.heroBtnWrapper {
    gap: 24px;
    .headerBtnApply,
    .headerBtnInfo {
        padding: 16px 24px;
    }
}
.heroBtnApply {
    text-align: center;
}
.heroBtnInfo {
    text-align: center;
}

@media (max-width: 680px) {
    .heroBtnWrapper {
        flex-direction: column;
        .heroBtnApply,
        .heroBtnInfo {
            padding: 16px 24px;
        }
    }
}

// ***
// .studyListItemRight {
//     padding: 0 0 48px 500px;
//     display: flex;
//     justify-content: flex-start;
//     border-left: 0.9px solid #5d6267;
//     z-index: 1;
// }

// .studyListItemLeft {
//     padding: 0 0 56px 32px;
//     display: flex;
//     justify-content: flex-start;
//     border-left: 0.9px solid #5d6267;
//     z-index: 1;
// }

// @media (max-width: 632px) {
//     .studyListItemWrapper {
//         .studyListItemLeft {
//             padding: 0 0 40px 64px;
//         }
//         .studyListItemRight {
//             padding: 0 0 48px 64px;
//         }
//     }
// }
