.course {
    max-width: 1440px;
    padding: 0 24px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

.heroCourse {
    padding: 24px 96px 128px;
    width: 100%;
    background-image: url("../../../../assets/courses/corpdir_hero_opacity.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 64%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 56px;
    h1 {
        font-size: 48px;
        font-weight: 700;
        color: #ffbb29;
    }
    p {
        font-size: 24px;
        font-weight: 600;
        color: #fff;
    }
}
.heroBtnWrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
    .heroBtnApply,
    .heroBtnInfo {
        color: #000;
        font-weight: 600;
        text-decoration: none;
        padding: 24px 48px;
        border-radius: 72px;
        font-size: 16px;
    }
}
.heroBtnApply {
    background-color: #ffbb29;
}
.heroBtnInfo {
    background-color: #fff;
}

// responcive
@media (max-width: 968px) {
    .heroBtnApply,
    .heroBtnInfo {
        padding: 16px 24px;
        font-size: 12px;
    }
}
@media (max-width: 868px) {
    .courseTitle {
        font-size: 20px;
        text-align: center;
    }
    .heroCourse {
        padding: 96px 32px 64px;
        gap: 48px;
        h1 {
            font-size: 32px;
        }
        p {
            font-size: 16px;
        }
    }
    .heroBtnWrapper {
        gap: 24px;
        .headerBtnApply,
        .headerBtnInfo {
            padding: 16px 24px;
        }
    }
    .heroBtnApply {
        text-align: center;
    }
    .heroBtnInfo {
        text-align: center;
    }
}

@media (max-width: 680px) {
    .heroBtnWrapper {
        flex-direction: column;
        .heroBtnApply,
        .heroBtnInfo {
            padding: 16px 24px;
        }
    }
}
