.membersItem {
    // width: 100%;
    // background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 200;
    // padding: 24px;
    margin: 32px 24px;
}

.membersItemWrapper {
    max-width: 1024px;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
    margin: 32px 0;
}

@media (max-width: 1024px) {
    .membersItemWrapper {
        font-size: 20px;
    }
}

@media (max-width: 425px) {
    .membersItemWrapper {
        padding: 16px 8px 40px;
    }
    .membersItem {
        margin: 8px;
    }
}
