.memberPage {
    width: 100%;
    padding: 144px 24px 0;
    display: flex;
    justify-content: center;
}

.memberPageWrapper {
    width: 1440px;
}

.memberTitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    img {
        width: 280px;
        height: 280px;
    }
}

.memberName {
    width: 100%;
    height: fit-content;
    border-bottom: 4px solid #ffbb29;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    line-height: normal;
    padding-bottom: 16px;
    color: #5a3c62;
}

@media (max-width: 768px) {
    .memberTitle {
        display: flex;
        flex-direction: column;
        gap: 32px;
        img {
            width: 240px;
            height: 240px;
        }
    }
}
