.memberPage {
    width: 100%;
    padding: 144px 24px 16px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.memberPageWrapper {
    padding-left: 48px;
    width: 1440px;
}

.backToBtn {
    padding: 8px;
    margin: 0 0 56px 56px;
    max-width: 108px;
    border-radius: 8px;
    background-color: #000;
    font-size: 16px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    &:hover {
        background-color: #bb8916;
    }
}

.memberTitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    img {
        width: 280px;
        height: 280px;
    }
}

.memberName {
    width: 100%;
    height: fit-content;
    border-bottom: 4px solid #ffbb29;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    font-size: 32px;
    line-height: normal;
    padding-bottom: 16px;
    // color: #5a3c62;
}

.memberData {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 32px 0 0;
}

.memberDataTitle {
    // padding: 464px 272px;

    max-width: 464px;
    min-width: 272px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    font-size: 24px;
    line-height: normal;
}

.memberDataDescription {
    width: 100%;
    background-color: #f5f5f5;
    font-weight: normal;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1.7;
    padding: 32px;
    border-bottom: 4px solid #ffbb29;
    border-radius: 4px;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
    .memberPageWrapper {
        padding: 16px 8px 24px 24px;
    }
    .memberName {
        font-size: 32px;
    }
    .memberTitle {
        display: flex;
        flex-direction: column;
        gap: 32px;
        img {
            width: 240px;
            height: 240px;
        }
    }
    .memberData {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 24px 0 0;
    }
    .memberDataDescription {
        padding: 16px;
        font-size: 16px;
    }
}
