.content1 {
	background-image: url('../../../assets/logoKnedMain.svg');
}

.content2 {
	background-image: url('../../../assets/kned2.png');
}


.s {
	width: 100px;
	height: 50px;
}

.m {
	width: 283px;
	height: 85px;
}

.l {
	width: 100px;
	height: 50px;
}