.articleList {
    padding: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #5d6267;
    h2 {
        font-size: 22px;
    }
    p {
        font-size: 16px;
    }
}

.articleText {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-bottom: 24px;
}

.articleInfo {
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-bottom: 3px solid #e7ecef;
}

.authorImg {
    max-width: 320px;
    border-radius: 8px;
}

.linkArticle {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 1224px) {
    .articleList {
        padding: 16px;
    }

    .authorImg {
        max-width: 280px;
    }
}

@media (max-width: 1024px) {
    .articleList {
        padding: 8px;
    }
    .articleText {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .authorImg {
        max-width: 60%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .articleList {
        padding: 0px;
    }
    .articleText {
        gap: 16px;
    }
    .articleList {
        h2 {
            font-size: 18px;
        }
    }
}
