.container {
	width: auto;
	height: auto;
	background-color: #F5F5F5;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
	cursor: pointer;
}

/* optional */
/* .container {
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.infoWrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 4rem 10rem;	
}
h1 {
		font-size: 34px;
		color: #000000;
		margin-bottom: 30px;
	}
	p {
		font-size: 24px;
		color: #858585;
		font-weight: 200;
		line-height: 1.7;
		text-align: center;
	} */
/* Membership */
 
/*.membershipWrapper {
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.honorable {
	display: flex;
	flex-direction: row;
	justify-content: center;
	 align-items: center;
	gap: 50px;
}

.membershipCard {
	width: 408px;
	height: 274px;
	background-size: cover;
}

.membershipCardInfo {
	margin: 50px 0 0 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 14px;
	width: 25

}

.valid{
	width: 1000px;
	height: auto;
	background-color: blueviolet;
}

.associated{
	width: 1000px;
	height: auto;
	background-color: rgb(43, 226, 95);
} */