.imgPartnerSlide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    width: 100%;
    height: auto; /* Это работает для десктопа */
}
.slide_responcive {
    width: 160px;
    height: 100%; /* Переходим на полную высоту контейнера */
    object-fit: cover; /* Заполняет контейнер, сохраняя пропорции изображения */
    object-position: center; /* Выравнивание изображения по центру */
}

.imgPartnerSlideWrapper {
    max-width: 768px;
    max-height: 160px;
    background-color: #ffffff;
    position: relative;
}

.logoContaner {
    padding: 16px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    text-transform: uppercase;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #5d6267;
}

.partnerslogo {
    width: 80px;
    position: relative;
    z-index: 3;
    top: 0;
    left: 0;
    cursor: pointer;
    padding-bottom: 8px;
}
.partnersLogoLink {
    max-width: 160px;
    span {
        font-size: 10px;
    }
}
