.button {
    background: none;
    cursor: pointer;
}

.lanRuOutlined {
    &:hover {
        background: #7aadf4;
		color: #000000;
		font-weight: bold;
    }
}

.lanEnOutlined {
	&:hover {
		background: #C69214;
		color: #FFFFFF;
		font-weight: bold;
	}
}

.mOutlined {
	&:hover {
		background-color: #C69214;
		color: #FFFFFF;
	}
}

.outlined {
	&:hover {
		background: #FFBB29;;
		color: #FFFFFF;
	}
}

.heroOutlined {
	&:hover {
		background-color: #F5F5F5;
	}
}

.arrowOutlined {
	&:hover {
		border: 3px solid #a6a9ac;
	}
}

.s {
	border: none;
	border-radius: 4px;
	background-color: #C69214;
	width: 124px;
	height: 31px;
    font-size: 14px;
	text-align: center;
	font-family: "Arial", "Open Sans";
	font-weight: bold;
	color: #ffffff;
}

.sDark {
	border: none;
	border-radius: 4px;
	background-color: #000000;
	width: 124px;
	height: 31px;
	font-size: 14px;
	text-align: center;
	font-family: "Arial", "Open Sans";
	font-weight: bold;
	color: #ffffff;
}

.m {
	border: none;
	background-color: #FFBB29;
	width: 327px;
	height: 83px;
	font-size: 20px;
	text-align: center;
	font-family: "Arial", "Open Sans";
	color: #000000;
	border-radius: 7px;
}

.heroButton {
	border: 1px solid #FFFFFF;
	background-color: #ffffff;
	width: 180px;
	height: 50px;
	font-size: 16px;
	text-align: center;
	font-family: "Arial", "Open Sans";
	color: #000000;
	border-radius: 7px;
}

.course {
	border: 2px solid #ffffff;
	border-radius: 4px;
	background-color: #C69214;
	width: 183px;
	height: 53px;
	font-size: 16px;
	text-align: center;
	font-family: "Arial", "Open Sans";
	color: #ffffff;
	border-radius: 7px;
}

.lanRu {
	padding: 1px;
	border: none;
	background-color: #002345;
	width: 27px;
	height: 20px;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	font-family: "Arial", "Open Sans";
	color: #ffffff;
}

.lanEn {
	padding: 1px;
	border: none;
	background-color: #FFC72C;
	width: 27px;
	height: 20px;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	font-family: "Arial", "Open Sans";
	color: #002345;
}

.arrowLeft {
	width: 102px;
	height: 332px;
	background-image: url(../../../../assets/arrowLeft.svg);
	border: none;
}

.arrowRight {
	width: 102px;
	height: 332px;
	background-image: url(../../../../assets/arrowRight.svg);
	border: none;
}

.arrowLeftSlider {
	margin-top: 80px;
	width: 50px;
	height: 40px;
	background-size: cover;
	background-image: url(../../../../assets/arrowLeft1.svg);
	border: none;
}

.arrowRightSlider {
	margin-top: 80px;
	width: 50px;
	height: 40px;
	background-size: cover;
	background-image: url(../../../../assets/arrowRight1.svg);
	border: none;
}

.dark {
	background-color: #000;
	color: #FFF;
	&:hover {
		background-color: orange;
		color: #000;
	}
}