.container {
    padding: 40px 80px;
    background-color: #ffc72c;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    h2 {
        font-family: "Arial";
        font-weight: bold;
        padding-top: 40px;
    }
    ul {
        padding: 10px 19px 10px;
    }
    li {
        font-family: "Arial";
        line-height: 1.5;
        font-weight: 200;
    }
    p {
        padding: 10px 0 10px;
        font-family: "Arial";
        line-height: 1.5;
        font-weight: 200;
    }
}

.title {
    font-family: "Arial";
    line-height: 1.5;
    font-weight: 200;
    text-align: center;
    font-size: 25px;
}

.criteriaTitle {
    font-family: "Arial";
    font-weight: 200;
}

// ----

/* src/Accordion.css */
.accordion {
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 600px;
    margin: auto;
}

.accordion-item {
    border-bottom: 1px solid #ccc;
}

.accordion-title {
    padding: 15px;
    cursor: pointer;
    background: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-title:hover {
    background: #e1e1e1;
}

.accordion-content {
    padding: 15px;
    background: white;
}

.arrow {
    margin-left: 10px;
}
