.accordionWrapper {
    padding: 24px 24px 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.accordion {
    border: 2px solid #ffd768;
    border-radius: 8px;
    max-width: 1440px;
    margin: 0 auto;
}

.accordionItem {
    border-bottom: 2px solid #ffd768;
}

.accordionTitle {
    padding: 16px;
    cursor: pointer;
    background: #ffc72c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover {
        background: #ffd768;
    }
}

.accordionContent {
    padding: 8px 16px;
    background: #ffdf88;
}

.arrowAccordeon {
    margin-left: 16px;
}
.criteriaTitle {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 24px;
}

@media (max-width: 768px) {
    .criteriaTitle {
        font-size: 24px;
    }
}
