.accordionWrapper {
    padding: 0 24px;
}

.accordion {
    border: 2px solid #ffd768;
    border-radius: 8px;
    max-width: 1440px;
    margin: 0 auto;
}

.accordionItem {
    border-bottom: 2px solid #ffd768;
}

.accordionTitle {
    padding: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    cursor: pointer;
    background: #ffc72c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover {
        background: #ffd768;
    }
}

.accordionContent {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 16px;
    background: #ffdf88;
}

.arrowAccordeon {
    margin-left: 16px;
}
