.container {
	padding: 40px 80px;
	background-color: #FFC72C;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	h2 {
		font-family: 'Arial';
		font-weight: bold;
		padding-top: 40px;
	}
	ul {
		padding: 10px 19px 10px;
	}
	li {
		font-family: 'Arial';
		line-height: 1.5;
		font-weight: 200;
	}
	p {
		padding: 10px 0 10px;
		font-family: 'Arial';
		line-height: 1.5;
		font-weight: 200;
	}
}

.title {
	font-family: 'Arial';
	line-height: 1.5;
	font-weight: 200;
	text-align: center;
	font-size: 25px;
}

.criteriaTitle {
	font-family: 'Arial';
	// line-height: 1.5;
	font-weight: 200;
}
