.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 900px;
    height: 250px;
    margin: 64px auto;
    img {
        border-radius: 8px;
    }
}

.slide {
    width: 100%;
    height: auto;
}

.slide_responcive {
    width: 100%;
    height: auto;
}

.leftArrow {
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: rgb(54, 54, 54);
    background-color: #bfced6;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    left: -40px;
    border-radius: 8px;
}

.rightArrow {
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: rgb(54, 54, 54);
    background-color: #bfced6;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    right: -40px;
    border-radius: 8px;
}

@media (max-width: 1024px) {
    .leftArrow {
        left: 16px;
    }
    .rightArrow {
        right: 16px;
    }
}

@media (max-width: 768px) {
    .slide_responcive {
        width: 100%;
        height: auto;
    }
}
