.wrapperPartnersSlider {
    width: 100%;
    h2 {
        max-width: 1440px;
        margin: 48px auto 0;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        font-family: "Lato", sans-serif;
        font-style: normal;
        text-transform: uppercase;
    }
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: relative;
    max-width: 900px;
    max-height: 160px;
    margin: 16px auto 64px;
}

.slide {
    width: 100%;
    height: auto;
}

.leftArrow {
    padding: 0 32px 0;
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: rgb(54, 54, 54);
    background-color: #bfced6;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: -40px;
    z-index: 1;
    transform: translateY(-50%);
}

.rightArrow {
    padding: 0 32px 0;
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: rgb(54, 54, 54);
    background-color: #bfced6;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    right: -40px;
    z-index: 1;
    transform: translateY(-50%);
}

@media (max-width: 1024px) {
    .slide {
        width: 960px;
        height: auto;
    }
    .leftArrow {
        padding: 0 16px 0;
        left: 8px;
    }
    .rightArrow {
        padding: 0 16px 0;
        right: 8px;
    }
}

@media (max-width: 768px) {
    .wrapperPartnersSlider {
        h2 {
            font-size: 24px;
        }
    }
    .slider {
        margin: 8px auto 56px;
        padding: 32px 0 64px;
    }
    .leftArrow {
        padding: 0 24px 0;
        left: 16px;
        top: 100%;
    }
    .rightArrow {
        padding: 0 24px 0;
        right: 16px;
        top: 100%;
    }
}
