.newsBlock {
    width: 100%;
}

.newsWrapper {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
    padding: 40px 24px;
    h2 {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        font-family: "Lato", sans-serif;
        font-style: normal;
    }
}

.newsCards {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.newsCard {
    width: 100%;
    .imgNews1 {
        background: url("../../../../assets/businessSaturdayData/bs_280924/volynetz_3.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 8px;
        height: 360px;
    }

    .imgNews2 {
        background: url("../../../../assets/businessBreakfastData/021024/esg_arym_3.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 8px;
        height: 360px;
    }
    .imgNews3 {
        background: url("../../../../assets/businessBreakfastData/180924/arymkulova_1.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 8px;
        height: 360px;
    }

    p {
        height: 96px;
        font-family: "Lato", sans-serif;
        font-style: normal;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 16px 0 24px;
        color: #5a5a5a;
    }
}
.buttomAllNews {
    background-color: #a7bacb;
    color: #ffffff;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    font-style: normal;
    border-radius: 8px;
    width: fit-content;
    margin: 0 auto;
    &:hover {
        background-color: #b6cbd6;
        color: #ffffff;
    }
}

.buttonReadNews {
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #c69214;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    font-style: normal;
    &:hover {
        background: #e7ae34;
        color: #ffffff;
    }
}

@media (max-width: 768px) {
    .newsCards {
        flex-direction: column;
    }
    .newsCard {
        p {
            height: auto;
        }
    }
}
