.corpdirInfo {
    padding: 32px 16px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}
.infoItem {
    padding: 32px;
    max-width: 320px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #000;
}
@media (max-width: 960px) {
    .corpdirInfo {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .infoItem {
        max-width: 560px;
    }
}
