.corpdirBlock {
    max-width: 1440px;
    padding: 0 24px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

.heroCorpdirBlock {
    padding: 144px 96px 128px;
    width: 100%;
    margin-top: 144px;
    background-image: url(../../../assets/courses/corpdir_hero_opacity.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 64%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 56px;
    h1 {
        font-size: 48px;
        font-weight: 700;
        color: #ffbb29;
    }
    p {
        font-size: 24px;
        font-weight: 600;
        color: #fff;
    }
}
.heroCorpdirBlockBtnWrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
    .headerBtnApply,
    .headerBtnInfo {
        color: #000;
        font-weight: 600;
        text-decoration: none;
        padding: 24px 48px;
        border-radius: 72px;
        font-size: 16px;
    }
}
.headerBtnApply {
    background-color: #ffbb29;
}

.headerBtnInfo {
    background-color: #fff;
}

// CorpdirStudy

.corpdirStudy {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 240px;
}

.corpdirStudyTitle {
    padding: 32px 0 56px;
}

// ***
.studyListItemWrapper {
    position: relative;
    z-index: 3;
}

.studyListItemLeft {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 64px;
    p {
        text-align: end;
    }
}

.studyListItemRight {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 48px 500px;
    p {
        text-align: start;
    }
}

.studyListContent {
    max-width: 400px;
}

.listScaleBackground {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 48%;
}

// responcive
@media (max-width: 968px) {
    .heroCorpdirBlockBtnWrapper {
        .headerBtnApply,
        .headerBtnInfo {
            padding: 16px 24px;
            font-size: 12px;
        }
    }
}

@media (max-width: 868px) {
    .heroCorpdirBlock {
        padding: 96px 32px 64px;
        gap: 48px;
        h1 {
            font-size: 32px;
        }
        p {
            font-size: 16px;
        }
    }

    .heroCorpdirBlockBtnWrapper {
        gap: 24px;
        .headerBtnApply,
        .headerBtnInfo {
            padding: 16px 24px;
        }
    }
    .headerBtnApply {
        text-align: center;
    }
    .headerBtnInfo {
        text-align: center;
    }
}

@media (max-width: 648px) {
    .heroCorpdirBlockBtnWrapper {
        flex-direction: column;
        .headerBtnApply,
        .headerBtnInfo {
            padding: 16px 24px;
        }
    }
}
