.mainHero {
    width: 100%;
    padding: 0 64px;
    position: relative; //для кнопки 100vh
}

.mainHeroWrapper {
    position: relative;
    max-width: 1440px;
    height: 480px; // Высота блока с видео
    margin: 144px auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    video {
        width: 100%;
        height: 480px;
        object-fit: cover;
        border-radius: 8px;
    }
}

.mainHeroContent {
    width: 100%;
    position: absolute;
    top: 50%; //для кнопки 100vh
    left: 50%; //для кнопки 100vh
    transform: translate(-50%, -50%); //для кнопки 100vh
    text-align: center; //для кнопки 100vh
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 144px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
    .heroTitle {
        text-align: center;
    }
    .heroMoto {
        font-size: 24px;
        text-align: center;
    }
}

.scrollButton {
    position: fixed; /* Кнопка фиксируется внизу экрана */
    // bottom: 80px; /* Отступ от нижнего края */
    bottom: 12%; /* Отступ от нижнего края */
    right: 2%; /* Центрирование кнопки по горизонтали */
    transform: translateX(-50%); /* Центрирование */
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    transition: color 0.3s ease;
    img {
        width: 80px;
    }
}

@media (max-width: 1024px) {
    .mainHeroContent {
        font-size: 24px;
        .heroMoto {
            font-size: 20px;
            text-align: center;
        }
    }
    .mainHeroWrapper {
        height: 400px;
        video {
            height: 400px;
            width: 100%;
            left: 50%;
        }
    }
}

@media (max-width: 768px) {
    .mainHeroWrapper {
        margin: 120px auto 40px;
    }
    .mainHeroContent {
        .heroTitle {
            font-size: 16px;
        }
        .heroMoto {
            font-size: 14px;
        }
    }
    .mainHeroContent {
        padding: 144px 32px 0;
    }
    .scrollButton {
        display: none;
    }
}

@media (max-width: 424px) {
    .mainHero {
        padding: 0;
    }
    .mainHeroContent h1 {
        font-size: 20px;
        max-width: 400px;
    }
    .mainHeroContent {
        padding: 80px 16px 0;
    }
    .mainHeroWrapper {
        height: 360px;
        video {
            height: 360px;
        }
    }
}
