.mainHero {
    width: 100%;
    padding: 0 24px;
}

.mainHeroWrapper {
    position: relative;
    max-width: 1440px;
    height: 480px;
    margin: 144px auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    video {
        width: 100%;
        height: 480px;
        object-fit: cover;
        border-radius: 8px;
    }
}

.mainHeroContent {
    position: absolute;
    top: 24%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 144px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
    .heroTitle {
        text-align: center;
    }
    .heroMoto {
        font-size: 24px;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .mainHeroContent {
        font-size: 24px;
        .heroMoto {
            font-size: 20px;
            text-align: center;
        }
    }
    .mainHeroWrapper {
        height: 400px;
        video {
            height: 400px;
            width: 100%;
            left: 50%;
        }
    }
}

@media (max-width: 768px) {
    .mainHeroWrapper {
        margin: 120px auto 40px;
    }
    .mainHeroContent {
        .heroTitle {
            font-size: 16px;
        }
        .heroMoto {
            font-size: 14px;
        }
    }
    .mainHeroContent {
        padding: 144px 32px 0;
    }
}

@media (max-width: 424px) {
    .mainHero {
        padding: 0;
    }
    .mainHeroContent h1 {
        font-size: 20px;
        max-width: 400px;
    }
    .mainHeroContent {
        padding: 80px 16px 0;
    }
    .mainHeroWrapper {
        height: 360px;
        video {
            height: 360px;
        }
    }
}
