.container {
	width: auto;
	padding: 30px 0 80px;
	background-color: #F5F5F5;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.headList {
	height: 80px;
	line-height: 1.4;
	display: flex;
	align-items: end;
}

.infoList {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 25px;
	line-height: 35px;
}

h3 {
	font-weight: 300;
	width: 300px;
	margin-bottom: 20px;
}

.industryBlock {
	padding-left: 30px;
	width: 330px;
	height: 350px;
	border-radius: 7px;
	background-color: #FFFFFF;
	border: 1px solid #5D6267;
}

.competenceBlock {
	padding-left: 30px;
	width: 330px;
	height: 350px;
	border-radius: 7px;
	background-color: #FFFFFF;
	border: 1px solid #5D6267;
}

.alumnyBlock {
	padding-left: 15px;
	width: 330px;
	height: 350px;
	border-radius: 7px;
	background-color: #FFBB29;
	border: 1px solid #5D6267;
	& li {
		font-style: none;
		list-style-type: none;
	}
}
