.cardList {
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.cardContainer {
    padding: 24px 32px;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-image: url(../../../../assets/cardbackground.svg);
    background-size: cover;
    background-position: bottom center;
    gap: 8px;
    border-radius: 8px;
}

.cardText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.linkMember {
    padding: 8px;
    background-color: #c69214;
    width: 96px;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    font-style: normal;
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    &:hover {
        background-color: #ffbb29;
        color: #ffffff;
    }
}
.memberName {
    color: #5a3c62;
    font-size: 24px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    font-weight: 200;
    line-height: 1.2;
    padding-bottom: 16px;
}

.annotationName {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.memberImg {
    max-width: 120px;
    max-height: 120px;
}

.jobExp {
    background-color: #5a3c62;
}

@media (max-width: 1024px) {
    .cardList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .cardList {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
    }
    .cardContainer {
        flex-direction: column-reverse;
        align-items: center;
        padding: 48px 32px;
    }
    .cardText {
        align-items: center;
    }
}
