.newsGenerator {
    margin: 0 auto;
    padding-bottom: 24px;
}

.newsItem {
    // max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 56px;
    grid-row-gap: 56px;
}

.cardContainer {
    position: relative;
    max-width: 560px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 24px;
}

.newsTitle {
    padding: 8px;
    position: absolute;
    top: 72%;
    left: 4%;
    max-width: 560px;
    background-color: #ffbb29;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    // border-radius: 8px;
}

.newsImg {
    width: 100%;
    border-radius: 8px;
}

@media (max-width: 1224px) {
    .newsItem {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {
    .newsTitle {
        padding: 16px;
        top: 74%;
        left: 0%;
    }
}

@media (max-width: 640px) {
    .cardContainer {
        max-width: 440px;
    }
    .newsTitle {
        padding: 4px;
        top: 82%;
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .newsTitle {
        font-size: 14px;
    }
}
