.eventList {
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
}

.eventContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-image: url(../../../../assets/cardbackground.svg);
    background-color: #f5f5f5;
    background-size: cover;
    background-position: bottom center;
    border-radius: 8px;
}

.eventInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 40px;
    a {
        text-decoration: none;
    }
}

.eventName {
    min-height: 64px;
    font-size: 24px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.2;
    padding-bottom: 16px;
    text-align: center;
}

.eventAnnotationName {
    min-height: 48px;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.eventImg {
    width: 480px;
}

@media (max-width: 960px) {
    .eventList {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 425px) {
    .membersItemWrapper {
        padding: 16px 8px 40px;
    }
    .membersItem {
        margin: 8px;
    }
}
