.container{
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 130px 70px;
}

// Mission
.missonWrapper {
	display: flex;
	flex-direction: column;
	align-items: Left;

	h2{
		font-size: 30px;
		color: #6C6D70;
	}
	span {
		color: #6C6D70;
		font-weight: 200;
		font-size: 22px;
	}
	h3{
		font-size: 30px;
		color: #6C6D70;
	}
	p {
		color: #6C6D70;
		font-weight: 200;
		font-size: 22px;
	}
}

.imgAboutWrapper{
	padding: 50px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 30px;
}

// Goals
.goalsWrapper{
	padding: 0 50px;
	h2{
		text-align: center;
		color: #6C6D70;
		font-size: 30px;
		margin-bottom: 50px;
	}
}

.goalsItemsWrapper{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.goalsTop {
	display: flex;
	flex-direction: row;
	gap: 130px;
	margin-bottom: 90px;
	h3 {
		color: #6C6D70;
	}
	p {
		color: #6C6D70;
		}
}

.goalsMedium {
	display: flex;
	flex-direction: row;
	gap: 130px;
	margin-bottom: 90px;
	h3{
		color: #6C6D70;
	}
	p {
		color: #6C6D70;
	}
}

.goalsBottom {
	display: flex;
	flex-direction: row;
	h3 {
		color: #6C6D70;
	}
	p {
		color: #6C6D70;
	}
}

.goalBox{
	width: 550px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 20px;
}

.goalBoxCouncil{
	margin-bottom: 51px;
}

.logoAndTitle{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 15px;
	align-items: flex-end;
}


// Activity
.activeWrapper{
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		color: #6C6D70;
	font-size: 30px;
	margin: 40px 0 50px;
	width: auto;
	text-align: center;
	width: 70%;
	}

}



.activityBlock{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 50px;
}

.activityImg{
	width: 650px;
	height: auto;
	margin-bottom: 30px;
}

.activityItem{
	width: 620px;
	height: 450px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-bottom: 30px;
	h3 {
		color: #6C6D70;
		font-size: 26px;
		font-weight: bold;
	}
	p {
		color: #6C6D70;
		font-weight: 200;
		line-height: 1.8;
	}
}