.galleryPage {
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding: 24px;
    margin-top: 20px;
}

.galleryPageWrapper {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px 24px;
    // h3 {
    //     margin: 16px 0;
    //     font-size: 28px;
    // }
    p {
        margin: 16px 0;
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .galleryPageWrapper {
        font-size: 20px;
    }
}

@media (max-width: 425px) {
    .galleryPageWrapper {
        padding: 16px 8px 40px;
    }
}
