.governBlock {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.governBlockContainer {
    max-width: 1440px;
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 56px;
    font-weight: bold;
    color: #787878;
    text-align: center;
    h1 {
        text-align: start;
    }
    h3 {
        font-size: 24px;
        padding-top: 24px;
    }
    img {
        max-width: 240px;
    }
}

.councilWrapper {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    grid-gap: 32px;
}

.div1 {
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.governMember {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpsecAndAuditorWrapper {
    display: flex;
    flex-direction: row;
    gap: 240px;
    justify-content: initial;
}

.presidiumWrapper {
    display: flex;
    flex-direction: row;
    justify-content: initial;
    gap: 32px;
}

.constituentDdocuments {
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        li {
            list-style-type: none;
        }
        a {
            text-decoration: none;
            color: #787878;
        }
    }
}

// Responce
@media (max-width: 1152px) {
    .councilWrapper {
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width: 880px) {
    .governBlockContainer {
        h1 {
            margin: 0 auto;
        }
    }
    .councilWrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: center;
        align-items: center;
    }
    .corpsecAndAuditorWrapper {
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }
    .presidiumWrapper {
        flex-direction: column;
        gap: 32px;
    }

    .constituentDdocuments {
        ul {
            flex-direction: column;
            gap: 40px;
            font-size: 14px;
        }
    }
}

@media (max-width: 776px) {
    .governBlockContainer {
        gap: 32px;
        h1 {
            font-size: 16px;
        }
        h3 {
            font-size: 20px;
            padding-top: 20px;
        }
        img {
            max-width: 160px;
        }
    }
}
